@import "../composition/theme";

main {
    #account {
        padding: 1em;
        h2{
            font-size: 2em;
        }
        & .profile-img {
            width: 6em;
            margin-top: 1em;
        }
        p {
            margin: 1.5em 0;
        }

        #user-info{
            display: flex;
            gap: 0 4em;
            flex-wrap: wrap;
        }
        .user-info-item {
            min-width: 125px;
        }

          button {
            margin: 1.5em 0;
            width: 15em;
            height: 2em;
            border: none;
            color: white;
            background-color: $primary-color;
            border-radius: 5px;
        }

        @media (min-width: 600px) {
        }
    }
}

.dark {
    main {
        color: white;
    }

    .card{
        box-shadow: 0 0 1em gray;
        }
    }