@import "../composition/theme";

body {
    display: flex;
    flex-direction: column;

    height: 100vh;

    .underline-link {
        color: $accent1;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }

    .logo {
        width: 3em;
    }
}