@import "../composition/theme";

form{
    background-color: $tertiary-color;
    height: auto;
    .flex-form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: white;

        div {
            display: grid;
            grid-template-columns: 4em 1fr;
            margin-top: 1em;
            padding-left: 1em;
            input{
                border: none;
            }
        }
        
        .to {
            label {
                padding-left: 1.3em;
            }
        }

    }
    button {
        width: 15em;
        height: 2em;
        border: none;
        color: white;
        background-color: $primary-color;
        border-radius: 5px;
    }
    .button-center{
        padding: 1.5em 0 1.5em 0;
        // display: grid;
        // place-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}