@import "../composition/theme";

main {
    flex: 1;
    transition: .2s;
    // background-color: $accent1;
    #post {
        display: flex;
        justify-content: center;
        gap: 2em;
        flex-wrap: wrap;
    }

    .profile-img{
        border-radius: 50%;
    }

    .card{
        margin: 1em 0 1em 0;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        max-width: 25em;

        .post-user {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: $accent1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: white;
        }

        .post-user {
            & ~ p {
                margin: 1em;
            }
        }
    }

    .profile-img{
        width: 2em;
        margin: 0.5em;
    }
}

.dark {
    main {
        background-color: black;
    }
}