@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Raleway&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  font-size: 1em;
}

h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

p, a, li, span, label, input, legend, tr, td, th {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

header {
  background-color: #005089;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
}
header a {
  text-decoration: none;
}
header i.material-icons {
  color: white;
  font-size: 3em;
  width: fit-content;
  display: block;
  margin: auto 0 auto auto;
  transition: 0.2s;
}
header i.material-icons:hover {
  cursor: pointer;
  color: #294C60;
}

nav {
  background-color: #005089;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media screen and (min-width: 600px) {
  nav {
    position: sticky;
    top: 0;
  }
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}
@media screen and (min-width: 600px) {
  nav ul {
    justify-content: right;
    padding: 0;
  }
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  transition: 0.2s;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 600px) {
  nav ul li a {
    display: block;
    padding: 1em;
  }
  nav ul li a:hover {
    background-color: #ADB6C4;
    color: #294C60;
  }
}
nav ul li a img {
  width: 2.5em;
}
@media screen and (min-width: 600px) {
  nav ul li a img {
    display: none;
  }
}
nav ul li a span {
  display: none;
}
@media screen and (min-width: 600px) {
  nav ul li a span {
    display: block;
  }
}

footer {
  background-color: #294C60;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer a {
  margin: auto 0.5em;
}
footer p {
  color: white;
  margin: auto 0;
}

main {
  flex: 1;
  transition: 0.2s;
}
main #post {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
main .profile-img {
  border-radius: 50%;
}
main .card {
  margin: 1em 0 1em 0;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  max-width: 25em;
}
main .card .post-user {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FFEFD3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
main .card .post-user ~ p {
  margin: 1em;
}
main .profile-img {
  width: 2em;
  margin: 0.5em;
}

.dark main {
  background-color: black;
}

form {
  background-color: #ADB6C4;
  height: auto;
}
form .flex-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
form .flex-form div {
  display: grid;
  grid-template-columns: 4em 1fr;
  margin-top: 1em;
  padding-left: 1em;
}
form .flex-form div input {
  border: none;
}
form .flex-form .to label {
  padding-left: 1.3em;
}
form button {
  width: 15em;
  height: 2em;
  border: none;
  color: white;
  background-color: #005089;
  border-radius: 5px;
}
form .button-center {
  padding: 1.5em 0 1.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-error-msg-holder {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body .underline-link {
  color: #FFEFD3;
  text-decoration: none;
}
body .underline-link:hover {
  text-decoration: underline;
}
body .logo {
  width: 3em;
}

/* Add your desired styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: block;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  color: white;
  width: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

label, input, button {
  margin: 5px 0;
}

/*# sourceMappingURL=style.css.map */
